* {
  margin: 0;
  padding: 0;
}

body {
    font-size: 12px;
    margin-top: 280px;
    text-align: center;
    background-image: url(IMAGES/Fondo.jpg);
    background-size: 1519px 3400px;
    background-repeat: no-repeat;
    margin: 0px;
}

.ImagenHeader {
    height: 690px;
    width: 1519px;
}  

.ImagenCarrito {
  position: absolute;
  height: 600px;
  width: 900px;
  display: initial;
  top: 62px;
  left: 20em;
}

.Emoji {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 700px;
  left: 100em;
}

.Centrado {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.Enunciado {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    font-size: 60px;
    position: relative;
    word-spacing: 25px;
}

table {
  border-collapse: collapse;
  font-size: 25px;
  border: 1px solid black;
  background-color: rgb(216, 215, 215);
  margin-top: 100px;
  margin-left: 41em;

}

.Titulo1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-top: 150px;
}

.rectangulopeque {
  width: 800px; 
  height: 10px;
  background: rgb(207, 207, 207);
  margin-left: 30em;
  margin-top: 2em;
}

.rectangulo {
  width: 800px; 
  height: 100px;
  background: rgb(207, 207, 207);
  margin: 10px;
  margin-left: 30em;
  margin-top: 1em;

}

.rectangulo p {
  top: 10px;
  margin-left: 10px;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  word-spacing: 20px;
  line-height: 45px;
}

.Titulo2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-right: 10px;
  font-size: 40px;
  position: relative;
  margin-top: 100px;
}

.rectangulopeque2 {
  width: 1200px; 
  height: 10px;
  background: rgb(207, 207, 207);
  margin-left: 14em;
  margin-top: 2em;
}

.cuadro1 {
  width: 560px; 
  height: 80px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 14em;
  float: left;
} 

.cuadro1 h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.cuadro2 {
  width: 560px; 
  height: 80px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 80px;
  float: left;
} 

.cuadro2 h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.rectangulo2 {
  width: 1200px; 
  height: 180px;
  background: rgb(207, 207, 207);
  margin-left: 14em;
  margin-top: 10em;

}

.rectangulo2 h2 {
 margin-top: 30px;
  text-align: center;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.Titulo3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-top: 100px;
}

.rectangulopeque3 {
  width: 1200px; 
  height: 10px;
  background: rgb(207, 207, 207);
  margin-left: 14em;
  margin-top: 2em;
}

.cuadro3 {
  width: 555px; 
  height: 80px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 14em;
  float: left;
} 

.cuadro3 h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.cuadro4 {
  margin-top: 100px;
  width: 555px; 
  height: 80px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 90px;
  float: left;
} 

.cuadro4 h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.rectangulo3 {
  width: 1200px; 
  height: 100px;
  background: rgb(207, 207, 207);
  margin-left: 14em;
  margin-top: 12em;
}

.rectangulo3 h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
  word-spacing: 10px;
}

.cuadrito {
  margin-top: 100px;
  width: 550px; 
  height: 80px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 500px;
}

.cuadrito h1{
  text-align: center;
  font-size: 30px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(94, 93, 93);
}

.Titulo4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin-top: 100px;
}

.rectangulopeque4 {
  width: 1200px; 
  height: 10px;
  background: rgb(207, 207, 207);
  margin-left: 14em;
  margin-top: 2em;
}

.cuadritoIz {
  margin-top: 10px;
  width: 500px; 
  height: 200px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 45em;
}

.cuadritoIz p {
  margin-left: -200px;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  word-spacing: 20px;
  line-height: 45px;
}

.Logo1 {
  top: 120px;
  left: 100px;
  width: 150px;
  height: 80px;
  position: relative;
}

.Logo2 {
  top: 190px;
  left: -30px;
  width: 120px;
  height: 70px;
  position: relative;
}

.cuadroFecha {
  margin-top: 100px;
  width: 500px; 
  height: 100px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 168px;
  float: left;
}

.cuadroFecha h1 {
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(94, 93, 93);
}

.sub1 {
  margin-top: -100px;
  width: 500px; 
  height: 100px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-right: 160px;
  float: right;
}

.sub1 h1 {
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(94, 93, 93);
}

.sub2 {
  width: 500px; 
  height: 100px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 100px;
  float: right;
}

.sub2 h1 {
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(94, 93, 93);
}

.sub3 {
  width: 500px; 
  height: 100px; 
  background: rgb(207, 207, 207);
  margin: 20px 0px;
  margin-left: 14em;
  float: right;
}

.sub3 h1 {
  margin-left: 10px;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(94, 93, 93);
}

.Registrate a {
  font-size: 30px;
  text-align: initial;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(17, 93, 207);
  float: right;
  margin-right: 220px;
}

input {
  height: 25px;
  width: 300px;
  background-color: rgb(207, 207, 207);
  border: solid 1.5px rgb(94, 93, 93);
}

.ContenedorBoton {
  left: 45em;
  width: 500px;
  height: 60px;
  background: rgb(252, 252, 98);
  margin: 20px 0px;
  margin-top: 330px;
  margin-left: 510px;
  border-radius: 5% / 30%;
}

.ContenedorBoton h2 {
  margin-top: 10px;
  font-size: 45px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* separador footer */
.FINAL{
  width: 1450px;
  height: 100px;
  background-color:  #c0c5ce ;
  display: flex;
  position: absolute;
  top: 3150px;
  left: 45px;
  text-align: center ;
  box-shadow: 5px 10px rgba(0,0,0,0.3);
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  text-align: center; 

  font-size: 21px;
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;

  border-radius: 5px;
  
}
.FIN{
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;

}

a.Fbutton{
  width: 100px;
  height: 100px;
  background-size: 85px;
  background-image: url("IMAGES/redesSociales/LOGO\ F\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
}

a.Fbutton:hover{
  width: 100px;
  height: 100px;
  background-size: 55px;
  background-image: url("IMAGES/1280px-Facebook_f_logo_(2019).svg.png");
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.6s ease, color 0.5s ease;
}

a.Wbutton{
  background-image: url("IMAGES/redesSociales/LOGO\ I\ 1.png");
  width: 100px;
  height: 100px;
  background-size: 110px;
  background-position: center;
  background-repeat: no-repeat;
}
a.Wbutton:hover{
  background-image: url("IMAGES/1b2ca367caa7eff8b45c09ec09b44c16-icono-de-instagram-logo-by-vexels.png");
  width: 100px;
  height: 100px;
  background-size: 65px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.6s ease, color 0.5s ease;
}